.radius {
  border-radius: 1rem;
}

.bottomRadius {
  border-radius: 0 0 1rem 1rem;
}

.topRadius {
  border-radius: 1rem 1rem 0 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.focused {
  color: #3a7bfd;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  background-color: var(--background-body-color);
  background-image: var(--background-image-mobile);
  background-repeat: no-repeat;
  background-size: 100% 200px;
  min-height: 100vh;
}

.checked {
  background-image: url("../images/icon-check.svg"), -webkit-gradient(linear, left top, right bottom, from(#57ddff), color-stop(#7a8cff), to(#c058f3));
  background-image: url("../images/icon-check.svg"), linear-gradient(to right bottom, #57ddff, #7a8cff, #c058f3);
  background-size: 60% contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.crossOut {
  text-decoration: line-through;
}

.todo {
  padding: 6rem 2rem;
  max-width: 800px;
  margin: auto;
}

.todo__logo {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .3em;
}

.todo__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todo__icon {
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.todo__icon--moon {
  display: none;
}

.todo__box {
  background-color: var(--background-box);
  padding: 2rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  color: var(--font-color);
  word-break: break-all;
}

.todo__box--input {
  margin: 4rem 0 2rem;
}

.todo__box--status {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #777a92;
}

.todo__box--filters {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 5rem;
  padding: 2rem 6rem;
  color: #777a92;
}

.todo__box--filters p {
  cursor: pointer;
}

.todo__box--filters p:hover {
  color: var(--font-color-hover);
}

.todo__input {
  background-color: transparent;
  color: var(--font-color);
  font-weight: 700;
  border: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.todo__input:focus {
  color: var(--font-color);
  outline: none;
}

.todo__circle {
  min-height: 2rem;
  min-width: 2rem;
  border: 1px solid #777a92;
  border-radius: 50%;
  margin-right: 2rem;
  cursor: pointer;
}

.todo__list-item {
  border-bottom: 1px solid #777a92;
  cursor: pointer !important;
}

.todo__list .hint {
  background-color: rgba(131, 124, 124, 0);
}

.todo__list .active {
  background-color: #ffffff2a;
}

.todo__box--cross {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.todo__cross {
  cursor: pointer;
}

.todo__status {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #777a92;
}

.todo__info {
  margin-top: 5rem;
  text-align: center;
  color: #777a92;
}

.todo__btn-clear {
  cursor: pointer;
}

.todo__btn-clear:hover {
  color: var(--font-color-hover);
}

@media (min-width: 800px) {
  body {
    background-image: var(--background-image-desktop);
    background-size: 100% 250px;
  }
}
/*# sourceMappingURL=style.css.map */