@import '_components.scss';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.focused {
    color: hsl(236, 33%, 92%);
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    background-image: url(/images/bg-mobile-dark.jpg);
    background-repeat: no-repeat;
    background-size: 100% 200px;
    background-color: hsl(235, 21%, 11%);
    min-height: 100vh;
}

.checked {
    background-image: url(/images/icon-check.svg);
    background-size: 60%;
    background-position: center center;
    background-repeat: no-repeat;
}

.crossOut {
    text-decoration: line-through;
}

.todo {
    padding: 6rem 2rem;
    max-width: 800px;
    margin: auto;

    &__logo {
        color: #fff;
        text-transform: uppercase;
        letter-spacing: .3em
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__icon--moon {
        display: none;
    }

    &__box {
        background-color: hsl(235, 24%, 19%);
        padding: 2rem 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        color: hsl(234, 39%, 85%);
        word-break: break-all;

        &--input {
            margin: 4rem 0 2rem;


        }

        &--status {
            justify-content: space-between;
            color: hsl(234, 11%, 52%);
        }

        &--filters {
            justify-content: space-around;
            margin-top: 5rem;
            padding: 2rem 6rem;
            color: hsl(234, 11%, 52%);


            p {
                cursor: pointer;



                &:hover {
                    color: hsl(236, 33%, 92%);
                }
            }
        }

    }



    &__input {
        background-color: transparent;
        color: hsl(234, 11%, 52%);
        font-weight: 700;
        border: none;
        flex-grow: 1;

        &:focus {
            color: hsl(236, 33%, 92%);
            outline: none;
        }

    }

    &__circle {
        min-height: 2rem;
        min-width: 2rem;
        border: 1px solid hsl(234, 11%, 52%);
        border-radius: 50%;
        margin-right: 2rem;
        cursor: pointer;



    }

    &__list {


        &-item {
            border-bottom: 1px solid hsl(234, 11%, 52%);
        }

        .hint {
            background-color: rgb(0, 0, 0);
        }

        .active {
            background-color: rgb(26, 17, 17);
        }
    }


    &__box--cross {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;

    }

    &__cross {
        cursor: pointer;
    }

    &__status {
        justify-content: space-between;
        color: hsl(234, 11%, 52%);
    }

    &__info {
        margin-top: 5rem;
        text-align: center;
        color: hsl(234, 11%, 52%);
    }

    &__btn-clear {
        cursor: pointer;

        &:hover {
            color: hsl(236, 33%, 92%);
        }
    }

}


@media(min-width: 800px) {
    body {
        background-image: url(/images/bg-desktop-dark.jpg);
        background-size: 100% 250px;
    }
}