@import '_components.scss';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.focused {
    color: hsl(220, 98%, 61%)
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}


html,
body {
    height: 100%;
    width: 100%;
}


body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;

}

.wrapper {
    background-color: var(--background-body-color);
    background-image: var(--background-image-mobile);
    background-repeat: no-repeat;
    background-size: 100% 200px;
    min-height: 100vh;
}

.checked {
    background-image: url('../images/icon-check.svg'), linear-gradient(to right bottom, #57ddff, #7a8cff, #c058f3);
    background-size: 60% contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.crossOut {
    text-decoration: line-through
}

.todo {
    padding: 6rem 2rem;
    max-width: 800px;
    margin: auto;

    &__logo {
        color: #fff;
        text-transform: uppercase;
        letter-spacing: .3em
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__icon {
        cursor: pointer;
        transition: .3s;
    }

    &__icon--moon {
        display: none;
    }

    &__box {
        background-color: var(--background-box);
        padding: 2rem 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        color: var(--font-color);
        word-break: break-all;

        &--input {
            margin: 4rem 0 2rem;


        }

        &--status {
            justify-content: space-between;
            color: hsl(234, 11%, 52%);
        }

        &--filters {
            justify-content: space-around;
            margin-top: 5rem;
            padding: 2rem 6rem;
            color: hsl(234, 11%, 52%);


            p {
                cursor: pointer;



                &:hover {
                    color: var(--font-color-hover);
                }
            }
        }

    }



    &__input {
        background-color: transparent;
        color: var(--font-color);
        font-weight: 700;
        border: none;
        flex-grow: 1;

        &:focus {
            color: var(--font-color);
            outline: none;

        }

    }

    &__circle {
        min-height: 2rem;
        min-width: 2rem;
        border: 1px solid hsl(234, 11%, 52%);
        border-radius: 50%;
        margin-right: 2rem;
        cursor: pointer;



    }

    &__list {


        &-item {
            border-bottom: 1px solid hsl(234, 11%, 52%);
            cursor: pointer !important;
        }

        .hint {
            background-color: rgba(131, 124, 124, 0);
        }

        .active {
            background-color: #ffffff2a;
        }
    }


    &__box--cross {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;

    }

    &__cross {
        cursor: pointer;
    }

    &__status {
        justify-content: space-between;
        color: hsl(234, 11%, 52%);
    }

    &__info {
        margin-top: 5rem;
        text-align: center;
        color: hsl(234, 11%, 52%);
    }

    &__btn-clear {
        cursor: pointer;

        &:hover {
            color: var(--font-color-hover);
        }
    }

}


@media(min-width: 800px) {
    .wrapper {
        background-image: var(--background-image-desktop);
        background-size: 100% 250px;
    }
}